@import "tailwindcss";

@theme {
  --font-family-sans: "Rubik", ui-sans-serif, system-ui, sans-serif;

  --color-background: #f4f6fa;
  --color-surface: #ffffff;
  --color-text-primary: #313e51;
  --color-text-secondary: #626c7f;
   --color-text-muted: #626c7f;
  --color-border: #edf1f9;
  --color-border-light: #ebf0ff;

  --color-primary: #a729f5;
  --color-primary-light: #f6e7ff;
  --color-accent: #306aff;
  --color-accent-light: #ebf0ff;

  --color-success: #2fd887;
  --color-success-light: #e0fdef;
  --color-warning: #ff7e35;
  --color-warning-light: #fff5ed;
  --color-error: #ee5454;

  --color-surface-border: #edf1f9;
  --color-question-letters-text: #626c7f;
  --color-surface-hover: #f6e7ff;
}

* {
  font-family: var(--font-family-sans);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../src/assets/images/pattern-background-mobile-light.svg");
  z-index: -1;
  opacity: 0.95;
  transition: opacity 0.3s ease;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.dark {
  --color-background: #3b4d66;
  --color-surface: #3b4d66;
  --color-surface-hover: #2d3949;
  --color-text-primary: #ffffff;
  --color-text-secondary: #abc1e1;
   --color-text-muted: #abc1e1;
 
  --color-border: #3b4d66;
  --color-border-light: #313e51;
  --color-surface-border: rgba(0, 0, 0, 0.3);
}

body.dark::before {
  opacity: 0.5;
  background: url("../src/assets/images/pattern-background-mobile-dark.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
}
